.exercisesHeader {
  position: fixed;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 40px;
}

.exercisesHeader nav {
  margin-right: 50px;
}

.exercisesHeader ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.exercisesHeader li button {
  border: 0px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-size: 1.35rem;
}

.exercisesHeader li button:hover {
  color: red;
  transition: 0.4s;
  cursor: pointer;
}

.menu_exercises_container {
  display: flex;
}

.menu_container {
  position: fixed;
  height: calc(100vh - 90px);
  width: 300px;
  /* border-right: 1px solid rgb(192, 190, 190); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 90px;
}

.menu_container button {
  background-color: white;
  height: 100%;
  width: 100%;
  border: 0px;
  /* border-bottom: 1px solid rgb(192, 190, 190, 0.5); */
  border-bottom: 1px solid rgb(230, 230, 230);
  font-size: 1.15rem;
}

/* .menu_container button:focus {
  color: white;
  background-color: red;
} */

.menu_container button:hover {
  color: white;
  background-color: red;
  transition: 0.28s;
  cursor: pointer;
}

.exercises_container {
  background-color: rgb(249, 249, 249);
  height: 100px;
  width: calc(100vw - 300px);
  height: fit-content;
  margin-left: 300px;
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.exercise_card {
  background-color: white;
  width: 22%;
  margin-top: 20px;
  height: 450px;
  border: 2px solid red;
  box-shadow: 5px 5px 11px rgb(238, 188, 188);
  border-radius: 14px;
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.exercise_card h2 {
  font-weight: 700;
  font-size: 1.6rem;
}

.exercise_card h3 {
  font-weight: 300;
  font-size: 1.2rem;
}

.exercise_card button {
  background-color: black;
  color: white;
  border-radius: 30px;
  height: 30px;
  width: 160px;
  border: 0px;
}

.exercise_card button:hover {
  background-color: red;
  cursor: pointer;
  transition: 0.28s;
}

.exercise_card img {
  width: 100%;
}

.workout_btn {
  background-color: black;
  color: rgb(255, 255, 255);
  position: fixed;
  bottom: 30px;
  right: 40px;
  height: 45px;
  width: 175px;
  border: 0px;
  border-radius: 30px;
  z-index: 1;
  font-size: 1.1rem;
}

.workout_btn:hover {
  color: white;
  background-color: red;
  transition: 0.28s;
  cursor: pointer;
}

.workout_display {
  background-color: black;
  position: fixed;
  bottom: 30px;
  right: 40px;
  height: 440px;
  width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: 0.22s;
  border-radius: 20px;
  font-family: "Bebas Neue", sans-serif;
  color: white;
  text-align: center;
}

.workout_display h1 {
  font-size: 2.7rem;
}

.workout_display h4 {
  font-size: 1.2rem;
}

.workout_display button {
  height: 32px;
  width: 160px;
  border-radius: 30px;
  background-color: white;
  color: black;
  font-size: 1.1rem;
  border: 0px;
  margin-top: 18px;
}

.workout_display button:hover {
  background-color: red;
  color: white;
  cursor: pointer;
  transition: 0.28s;
}

.workout_display input {
  height: 22px;
  background-color: transparent;
  color: white;
  outline: 0;
  border: 0px;
  border-bottom: 2px solid white;
  font-size: 1.15rem;
}

.workout_display input:focus {
  border-bottom: 2px solid red;
}

.workout_display input::placeholder {
  color: rgb(159, 159, 159);
  opacity: 0.9;
}

.downbtn {
  position: absolute;
  left: 20px;
  top: 20px;
  /* background-color: rgb(159, 139, 139); */
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.downbtn:hover {
  cursor: pointer;
}

.showbtn {
  position: fixed;
  background-color: black;
  color: white;
  bottom: 30px;
  right: 40px;
  height: 45px;
  width: 175px;
  border-radius: 30px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  font-size: 1.1rem;
  align-items: center;
  justify-content: space-evenly;
}

.showbtn h3 {
  margin-right: 6px;
}

.upbtn {
  /* background-color: aqua; */
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upbtn:hover {
  cursor: pointer;
}

/* .workout_display h4, h1 {
  color: white;
} */
