.dashboard_container {
  height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.info_container {
  background-color: rgb(184, 166, 202);
  height: 80%;
  width: 32%;
}

.recentdiv {
  background-color: blue;
  height: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.namesdiv {
  background-color: aqua;
  height: 8%;
  display: flex;
  justify-content: space-evenly;
}

.middle_div {
  background-color: rgb(94, 125, 125);
  height: 62%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.btndiv {
  background-color: green;
  height: 17%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btndiv button {
    height: 39px;
    width: 220px;
    border-radius: 30px;
    border: 0px;
    background-color: black;
    color: white;
    font-size: 1.1rem;
}

.btndiv button:hover {
    background-color: red;
    color: white;
    transition: .28s;
    cursor: pointer;
}
