.dashboard_container {
  height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.info_container {
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 80%;
  width: 44%;
  box-shadow: 5px 5px 10px rgb(176, 182, 207);
}

.recentdiv {
  background-color: black;
  color: white;
  height: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid black;
}

.namesdiv {
  height: 8%;
  display: flex;
  justify-content: space-evenly;
}

.name_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

.name_container:hover {
  background-color: red;
  color: white;
  transition: 0.28s;
  cursor: pointer;
}

.middle_div {
  height: 62%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

.btndiv {
  height: 17%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid black;
}

.btndiv button {
  height: 44px;
  width: 225px;
  border-radius: 30px;
  border: 0px;
  background-color: black;
  color: white;
  font-size: 1.1rem;
}

.btndiv button:hover {
  background-color: red;
  color: white;
  transition: 0.28s;
  cursor: pointer;
}
