.workouts_container {
    height: fit-content;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: 'Bebas Neue', sans-serif;
}

.workout_card {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 130px;
    border: 1px solid rgb(230, 230, 230);
}

.name_container {
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    align-items: center;
    height: 40%;
}

.name_container h1 {
    color: red;
    margin-left: 13px;
}

.exercises_container {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    height: 60%;
}

.exercises_container h3 {
}

