.workouts_container {
    background-color: rgb(153, 153, 173);
    /* height: calc(100vh - 90px); */
    height: fit-content;
    /* margin-top: 90px; */
    width: 100%;
    color: white;
    bottom: 0;
}